/* General use fonts */
font-family: 'Noto Serif', serif;
font-family: 'Noto Sans', sans-serif;

text-rendering: optimizeLegibility;

/* To enable ligratures */
element.style {
  font-feature-settings: "dlig";
}

/* Myanmar script */
  @font-face {
    font-family: 'NotoSansMyanmar';
    src: url('/fonts/Myanmar/NotoSansMyanmar-Regular.ttf');
  }



