<!DOCTYPE HTML>
<html>
  <head>
    <title>{{scriptName}} Unicode text with fonts
   </title>

  <link rel="stylesheet" type="text/css" href="/css/fonts.css">


  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->


   <script type="text/javascript" src="/js/utils.js"></script>

   <script src="/js/vk-debug.js"></script>

   <style>
   {% for fontFam in fontFamilies %}
    @font-face{
      font-family:'{{fontFam.family}}';
      src:url('{{fontFam.source}}');
      font-weight:normal;
      font-style:normal;
      font-size: 32px;
    }
   .{{fontFam.family|lower}} {
      font-family:'{{fontFam.family}}';
      font-size: 32px;
    }
   {% endfor %}
  </style>

<script src="/js/keyboard.js"></script>
<script src="/js/vk-debug.js"></script>
<script>

  const kb_info = {
    {% for kb in kb_list %}{{kb.shortName}}: ["{{kb.shortName}}", "{{kb.longName}}", "{{kb.instructions}}" ],{%endfor%}
  };
  const kb_list = [
    {% for kb in kb_list %}"{{kb.shortName}}",{%endfor%}
  ];
  const font_list = [
    {% for font in font_list %}"{{font.family}}",{% endfor %}
  ];
  font_list.sort();  // Alphabetical order

  function fillAllWithUnicode() {
     area_List = [{% for fontFam in font_list %}"{{fontFam.family|lower}}_area",{% endfor %}];
     for (var i = 0; i < area_List.length - 1; i ++) {
       var name = area_List[i];
       fillWithUnicode(name, null);
     }
   }

   function copyToAll(input_id) {
     var input_id = document.getElementById(input_id);
     var input_text = input_id.value;
     area_List = [{% for fontFam in font_list %}"{{fontFam.family|lower}}_area",{% endfor %}];
     for (var i = 0; i < area_List.length; i ++) {
       var output_area = document.getElementById(area_List[i]);
       output_area.innerHTML = output_area.value = input_text;
     }
   }

   function changeFontSize(selected) {
     var fontObj = document.getElementById(selected);
     var fontSize = fontObj.value;
     {% for fontFam in font_list %}
       var div = document.getElementById("{{fontFam.family|lower}}_area");
       div.style.fontSize = fontSize;
     {% endfor %}
   }

   function onload() {
     copyToAll("input_area");
     var input = document.getElementById('input_area');
     controller = initializeKeyboard(input, kb_info, font_list);
     var selector = document.getElementById("setLayout");
     onLayoutSelected(selector.value);  }

  // DRAG FUNCTIONS
  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
    ev.dataTransfer.setData("divObj", ev.target);
    ev.dataTransfer.setData("prev", ev.currentTarget.previousElementSibling);
  }

  function drop(ev, targetElement) {
    ev.preventDefault();
    var movingId = ev.dataTransfer.getData("text");
    var movingNode = document.getElementById(movingId);
    var movingDiv = ev.dataTransfer.getData("divObj");
    var parent = ev.currentTarget.parentNode;
    var currentId = ev.target.id;
    var currentTarget = ev.target;
    parent.insertBefore(movingNode, targetElement);
    //ev.target.appendChild(document.getElementById(data));
  }
  </script>
  </head>

  <body onload="onload()">

  <div class="container">
  <div class="span-1">
  </div>
  <div class="span-18 last">

  <h2>Test Unicode fonts with {{scriptName}} script</h2>
      <div id="input">
          <br />
          <h3>Unicode text:</h3>
          <textarea id="input_area" class="avant" cols="60" rows="1"
                    onchanged="copyToAll('input_area', null);">{{utext}}</textarea>
          <br />
          Keyboard:
          <select onchange="onLayoutSelected(this.value);" id="setLayout">
              {% for kb in kb_list %}
              <option value="{{kb.shortName}}">{{kb.longName}}</option>
              {% endfor %}
          </select>
          <input type="button"
                 onclick="copyToAll('input_area',
                    null);"
                 value="Copy to all" />
          Font size: <select id='sizeSelector'
                             onChange="changeFontSize('sizeSelector');">
          <option value="10pt">10</option>
          <option value="12pt">12</option>
          <option value="14pt">14</option>
          <option value="18pt">18</option>
          <option value="24pt">24</option>
          <option value="32pt" selected="selected">32</option>
          <option value="36pt">36</option>
          <option value="48pt">48</option>
          <option value="64pt">64</option>
      </select>
          <!--  <input type="button"-->
          <!--           onclick="fillAllWithUnicode('Unicode_font_output_text',-->
          <!--                    'new_hex');"-->
          <!--           value="Insert all {{scriptName}} Unicode characters" />-->
          <!--    Keyboard: <select onchange="onLayoutSelected(this, null, 'UnicodeOsageTools')")" id="selectKeyboard">-->
          <!--      <option value="{{osa}}">{{Language}} Unicode</option>-->
          <!--    </select>-->
      </div>
  {% for fontFam in font_list %}
  <div id="{{fontFam.family}}_div" draggable="true" ondragstart="drag(event)" ondrop="drop(event,this)"
    ondragover="allowDrop(event)">
    &#9776;<!-- The drag handle -->
      <text id="{{fontFam.family|lower}}_area" class="{{fontFam.family|lower}}"
      style="height=40px;font-size:32px; white-space:pre-wrap;" colums="80" rows="3">{{utext}}</text>
      <span style="width:100px"></span><b>&nbsp;&nbsp;&nbsp;{{fontFam.longName}}</b></span>
      <br /><br />
  </div>
  {% endfor %}

  </div>
  </div>
  </body>
</html>
