<!DOCTYPE html>
<html><head>
  <title>Burmese transliteration explorer</title>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">

  <!--[if lt IE 8]>
  <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" type="text/css" href="/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="/css/keyboard.css" />

  <!-- Tool for detecting and converting Zawygi -->
  <script src="{{myanmar_tools_info.detector_url}}"></script>
  <script src="{{myanmar_tools_info.converter_url}}"></script>

  <style>
   {% for font in font_list %}
    @font-face{
      font-family:"{{font.family}}";
      src:url("{{font.source}}");
      font-weight:normal;
      font-style:normal;
    }
    .{{font.family}} {
      font-family: "{{font.family}},Arial";
      font-size:18px;
    }

    {% endfor %}

    .default-font {
    font-family: "Arial,Helvetica";
    font-size:12px;
    }

  .input {font-size:18px;}
  .textareas {font-size:20px; resize:"vertical"; spellcheck:false; width:600px; height:100px;
      resize:vertical;}
  </style>

  <script src="/js/keyboard.js"></script>
  <script src="/js/vk-debug.js"></script>
  <script type="text/javascript" src="/js/myzu.js"></script>
  <script src="/js/utils.js"></script>

  <!-- JavaScript for XHTML with server side -->
  <script src="/js/request_transliterate.js"></script>

  <script type="text/javascript">

  const zawgyi_converter = new google_myanmar_tools.ZawgyiConverter();
  const zawgyi_detector = new google_myanmar_tools.ZawgyiDetector();
  myzu_initialize(zawgyi_detector, zawgyi_converter);


  // keyboard and font lists for selectors
  const kb_info = {
    {% for kb in kb_list %}{{kb.shortName}}: ["{{kb.shortName}}", "{{kb.longName}}", "{{kb.instructions}}" ],{%endfor%}
  };
  const kb_list = [
    {% for kb in kb_list %}"{{kb.shortName}}",{%endfor%}
  ];
  const font_list = [
    {% for font in font_list %}"{{font.family}}",{% endfor %}
  ];

  var diff_list = [];  // needed for utils.js

  // For the keyboard.
  var controller = null;

  function onPageLoaded(text_id) {
    var input = document.getElementById(text_id);

    controller = initializeKeyboard(input, kb_list, font_list);

    onSizeSelected(document.getElementById("sizeSelector").value, text_id);
    input.focus();

    var selector = document.getElementById("setLayout");
    onLayoutSelected(selector.value);

    setFontFamilyByID(text_id, document.getElementById("fontSelector").value);
  }

  function setFontFamilyByID(text_id, font_value) {
    var text_obj = document.getElementById(text_id);
    setFontFamily(text_obj, font_value);
  }

  function onLayoutSelected(layoutCode) {
    controller.activateLayout(layoutCode);
      var info = kb_info[layoutCode];
      if (info != null) {
          var area = document.getElementById("kb_instructions");
          if (area) {
              area.innerHTML = area.value = info[1];
          }
      }
      // Set font to that selected.
      setFontFamilyByID('t1', document.getElementById("fontSelector").value);
    }

  function setKeyCapsFont(newFontFamily) {
    var keycaps = document.getElementsByClassName("vk-cap");
    for (var i = 0; i < keycaps.length; i++ ) {
      keycaps[i].style.fontFamily = newFontFamily;
    }
  }

{% if variation_sequence %}
function toggleConvertedVS(text_area_id, toggle) {
  // TODO: Change variation sequence content of text.
  var text_area = document.getElementById(text_area_id);

  var text = text_area.value;
  var new_text;
  if (toggle.checked) {
      new_text = add_variation_modifiers(text);
  } else {
      new_text =remove_variation_modifiers(text);
  }
  text_area.innerHTML = text_area.value = new_text;
}
{% endif %}

  function callTranslit(translit_selection) {
    const rule_text = document.getElementById('rulearea').value;
    requestTransliterate(
      't1', 'outputarea', rule_text, 'messagearea', 'summaryarea', translit_selection);
    var type_output = document.getElementById('result_type');
    type_output.innerHTML = 'Showing ' + translit_selection;
  }

  function getEditedRulesText(div_id) {
    // Assemble text from all the edit areas.
    div = document.getElementById(div_id);
    var areas = div.getElementsByTagName('textarea');
    var rules_list = [];
    for (var area = 0; area <  areas.length; area ++) {
      rules_list.push(areas[area].value);
    }
    return rules_list.join('::Null;\n');
  }

  // Get data from edit rules area, if any.
  function callTranslitEdited(translit_selection) {
    var edited_rules_text = getEditedRulesText("editDiv");
    requestTransliterate(
      't1', 'outputarea', edited_rules_text, 'messagearea', 'summaryarea', translit_selection);
    var type_output = document.getElementById('result_type');
    type_output.innerHTML = 'Showing ' + translit_selection;
  }

  function setTranslitOption(selector) {
    var translit_selection = document.getElementById('translit_selector').value;
    callTranslit(translit_selection);
  }
  var test_cases = [{%for case in test_cases%}
    [{% for item in case%} "{{item}}",{%endfor%}], {%endfor%}
    ];

  function downloadEditedRules(div_id, filename_id) {
    var filename = "rules.txt";
    var edited_rules_text = getEditedRulesText(div_id);
    filename = document.getElementById(filename_id).value;
    // Set up the link
    var link = document.createElement("a");
    link.setAttribute("target","_blank");
    if(Blob !== undefined) {
        var blob = new Blob([edited_rules_text], {type: "text/plain"});
        link.setAttribute("href", URL.createObjectURL(blob));
    } else {
        link.setAttribute("href","data:text/plain," + encodeURIComponent(edited_rules_text));
    }
    link.setAttribute("download",filename);
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}

function uploadRules(filename_id, edit_div_id){
  var fileToLoad = document.getElementById(filename_id).files[0];
  // Should ask for confirmation to replace data.
  var fileReader = new FileReader();
  fileReader.onload = function(fileLoadedEvent){
      var textFromFileLoaded = fileLoadedEvent.target.result;
      //document.getElementById("inputTextToSave").value = textFromFileLoaded;
      prepareRuleEditZones(textFromFileLoaded, edit_div_id);
  };

  fileReader.readAsText(fileToLoad, "UTF-8");
}

  function loadTests(out_id) {
    var out_area = document.getElementById(out_id);
    var text_list = [];
    for (var i=0; i < test_cases.length; i++) {
      text_list.push((i+1) + " " + test_cases[i][0]);
    }
    out_area.innerHTML = out_area.value = text_list.join('\n');
  }

  function showTextInFonts(text_area_id) {
      const text_area = document.getElementById(text_area_id);
      const text = text_area.value;
      const target = "/my/allfonts/?utext=" + text;
      window.open(target, "_blank");
  }
  </script>
</head>

<body onload="onPageLoaded('t1')">
<div class="container">
  <div class="span-1">
  </div>
  <div class="span-16" id="c16">
    <h2>{{language}} Transliteration</h2>
    <div id='input_options'>
    Keyboard:
    <select onchange="onLayoutSelected(this.value)" id="setLayout">
      {% for kb in kb_list %}
      <option value="{{kb.shortName}}">{{kb.longName}}</option>
      {% endfor %}
    </select>
    <select onchange="setFontFamilyByID('t1', this.value)" id="fontSelector">
      {% for font in font_list %}
      <option value="{{font.family}}">{{font.longName}}</option>
      {% endfor %}
      <option value="Arial">Arial</option>
    </select>
    Size: <select onchange="onSizeSelected(this.value, 't1');" id="sizeSelector">
    <option value="10px">10</option>
    <option value="14px">14</option>
    <option value="18px">18</option>
    <option value="24px" selected>24</option>
    <option value="32px">32</option>
    <option value="48px">48</option>
    <option value="48px">60</option>
    <option value="72px">72</option>
    <option value="96px">96</option>
    <option value="120px">120</option>
    <option value="240px">240</option>
  </select>

    <input type="button" value="Clear text" onclick="clearText('codepoints');clearText('t1');">
    <br />
  </div>
    <div id="t1_div">
      <div></div>
    <textarea id="t1" class="textareas"
              style="font-size:18px;width:600px;height:100px;font-family:{{font_list.0.family}};resize:vertical;"
              dir="{{direction}}" onchange="enterTestText('t1');">{{test_data}}</textarea>
      <input type="button" id="check_zawgyi" value="check zawgyi" onclick="enterTestText('t1', 'detectedZU', 'undo_button');" />
      <span id='detectedZU'></span>
      <input type="button" value="Convert" onclick="convertRequest('t1', 'Z', 't1', 'undo_button');"/>
      <input type="button" id='undo_button' value="Undo Convert" disabled onclick="undoConvert('t1', 'undo_button');"/>
      <input type="button" value="Show text in all fonts" onclick="showTextInFonts('t1');"/>
      </div>
    <br />

    <div id="translit options">
      <!-- TRANSLIT options -->
      {% for tlit in translit_rules_list %}
      <input type="button" id="translit_test_button" value="{{tlit.name}}"
             onclick="callTranslit('{{tlit.name}}');">{% endfor %}
      <input type="button" value="Load test data" onclick="loadTests('t1')">
      <input type="button" value="Show code points"
             onclick="showCodePoints('t1', 'codepoints');toggleVisible('show_code_points');">
    </div>
    <h3 id='result_type'></h3>
    <textarea id="outputarea" class="textareas"placeholder="Transliterated result" style="width:600px;height:100px;"></textarea>
    <textarea style="display:none;" id="rulearea" class="textareas"style="width:600px;height:100px;"></textarea>
    <textarea style="display:none;" id="messagearea" class="textareas"style="width:600px;height:100px;"></textarea>
    <textarea style="display:none;" id="summaryarea" class="textareas"style="width:600px;height:100px;"></textarea>

  <div id="codepoint_div">
    <hr>
    <div id="show_code_points" style="display:none;">
    <textarea id="codepoints" class='default-font, textareas' style="display:none;"
              style="width:600px;height:100px;resize:vertical;" spellcheck="false"
              rows="5"></textarea>
      <input type="button" value="-> Unicode text" onclick="hexToOutput('codepoints', 't1');">
      <input type="button" value="Close" onclick="toggleVisible('show_code_points');">
      <br />
      <hr>
    </div>
  </div>
  <!-- For displaying / editing rules and using them -->
  <div id="rule_edit">

    <!-- Controls
    Search for characters / patterns
    Divide rule sets into phases.
    Save rules to local computer
    Save to DB?
    Compare
    -->

    <!-- area for rule display -->
    <h4>Rules editing</h4>
    Get Rules: {% for tlit in translit_rules_list %}
    <input type="button" id="translit_rule_button" value="{{tlit.name}}"
           onclick="requestTransliterateRules('rule_edit_area', 'messagearea', '{{tlit.name}}', 'request_translit_with_rules');">{% endfor %}
    <br />
    <input type="button" id="request_translit_with_rules" value="Translit with edited rules"
           onclick="callTranslitEdited('Custom rules');" disabled>
    <br />
    <input type="button" id="download_rules" value="Download updated rules"
           onclick="downloadEditedRules('editDiv', 'download_filename');">
    <span>Download file name</span><input type="text" id="download_filename" name="Download filename">
    <br/>
    <input type="file" id="fileToLoad"></td>
    <button onclick="uploadRules('fileToLoad', 'editDiv');">Load Selected File</button>
    <!-- Stores original rules by editDiv text areas, below -->
    <textarea id="rule_edit_area" style="display:none;" class="textareas"></textarea>
  <div id="editDiv"></div>
  </div>

  </div>
  <div class="span-4">
    {% if links %}
    <h4>Useful links</h4>
    <ul>
      {% for link in links %}
      <li>
        <a href="{{link.ref}}" target="_blank">{{link.linkText}}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div id="c14">
</div>

</div>


</body></html>
