<!DOCTYPE html>
<html><head>
    <title>Burmese transliteration explorer</title>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 

  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
    
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" type="text/css" href="/css/fonts.css">

  <style>
   {% for font in font_list %}
    @font-face{
      font-family:"{{font.family}}";
      src:url("{{font.source}}");
      font-weight:normal;
      font-style:normal;
    }
    .{{font.family}} {
      font-family: "{{font.family}},Arial";
      font-size:18px;
    }

    {% endfor %}

    .default-font {
    font-family: "Arial,Helvetica";
    font-size:12px;
    }

  .input {font-size:18px;}
  .textarea {font-size:20px; resize:"vertical"; spellcheck:false; width:600px; height:100px;}
  </style>

  <script src="/js/keyboard.js"></script>
  <script src="/js/vk-debug.js"></script>

  <script src="/js/utils.js"></script>

  <!-- JavaScript for XHTML with server side -->
  <script src="/js/request_transliterate.js"></script>

  {% if variation_sequence %}
  <script src="/js/{{langTag}}Converter.js"></script>
{% endif %}

  <script type="text/javascript">
  // keyboard and font lists for selectors
  var kb_info = {
    {% for kb in kb_list %}{{kb.shortName}}: ["{{kb.shortName}}", "{{kb.longName}}", "{{kb.instructions}}" ],{%endfor%}
  };
  var font_list = [
    {% for font in font_list %}"{{font.family}}",{% endfor %}
  ];

  var diff_list = [];  // needed for utils.js

  // For the keyboard.
  var controller = null;

  function onPageLoaded(text_id) {
    var input = document.getElementById(text_id);

    controller = initializeKeyboard(input, kb_info, font_list);

    onSizeSelected(document.getElementById("sizeSelector").value, text_id);
    input.focus();

    var selector = document.getElementById("setLayout");
    onLayoutSelected(selector.value);

    setFontFamilyByID(text_id, document.getElementById("fontSelector").value);
  }

  function setFontFamilyByID(text_id, font_value) {
    var text_obj = document.getElementById(text_id);
    setFontFamily(text_obj, font_value);
  }

  function onLayoutSelected(layoutCode) {
    controller.activateLayout(layoutCode);
      var info = kb_info[layoutCode];
      if (info != null) {
          var area = document.getElementById("kb_instructions");
          if (area) {
              area.innerHTML = area.value = info[1];
          }
      }
    }

  function setKeyCapsFont(newFontFamily) {
    var keycaps = document.getElementsByClassName("vk-cap");
    for (var i = 0; i < keycaps.length; i++ ) {
      keycaps[i].style.fontFamily = newFontFamily;
    }
  }

{% if variation_sequence %}
function toggleConvertedVS(text_area_id, toggle) {
  // TODO: Change variation sequence content of text.
  var text_area = document.getElementById(text_area_id);

  var text = text_area.value;
  var new_text;
  if (toggle.checked) {
      new_text = add_variation_modifiers(text);
  } else {
      new_text =remove_variation_modifiers(text);
  }
  text_area.innerHTML = text_area.value = new_text;
}
{% endif %}

  function callTranslit(translit_selection) {
    requestTransliterate(
      't1', 'outputarea', 'rulearea', 'messagearea', 'summaryarea', translit_selection);
    var type_output = document.getElementById('result_type');
    type_output.innerHTML = 'Showing ' + translit_selection;
  }

  // Get data from edit rules area, if any.
  function callTranslitEdited(translit_selection) {
    requestTransliterate(
      't1', 'outputarea', 'rule_edit_area', 'messagearea', 'summaryarea', translit_selection);
    var type_output = document.getElementById('result_type');
    type_output.innerHTML = 'Showing ' + translit_selection;
  }

  function setTranslitOption(selector) {
    var translit_selection = document.getElementById('translit_selector').value;
    callTranslit(translit_selection);
  }
  var test_cases = [{%for case in test_cases%}
    [{% for item in case%} "{{item}}",{%endfor%}], {%endfor%}
    ];

  function loadTests(out_id) {
    var out_area = document.getElementById(out_id);
    var text_list = [];
    for (var i=0; i < test_cases.length; i++) {
      text_list.push((i+1) + " " + test_cases[i][0]);
    }
    out_area.innerHTML = out_area.value = text_list.join('\n');
  }
  </script>
  <link rel="stylesheet" type="text/css" href="/css/keyboard.css" />
  </head>

<body onload="onPageLoaded('t1')">
<div class="container">
  <div class="span-1">
  </div>
  <div class="span-16">
    <h2>{{language}} Transliteration</h2>

    Keyboard:
    <select onchange="onLayoutSelected(this.value)" id="setLayout">
      {% for kb in kb_list %}
      <option value="{{kb.shortName}}">{{kb.longName}}</option>
      {% endfor %}
    </select>
    <select onchange="setFontFamilyByID('t1', this.value)" id="fontSelector">
      {% for font in font_list %}
      <option value="{{font.family}}">{{font.longName}}</option>
      {% endfor %}
      <option value="Arial">Arial</option>
    </select>
    Size: <select onchange="onSizeSelected(this.value, 't1');" id="sizeSelector">
    <option value="10px">10</option>
    <option value="14px">14</option>
    <option value="18px">18</option>
    <option value="24px" selected>24</option>
    <option value="32px">32</option>
    <option value="48px">48</option>
    <option value="48px">60</option>
    <option value="72px">72</option>
    <option value="96px">96</option>
    <option value="120px">120</option>
    <option value="240px">240</option>
  </select>

    <input type="button" value="Clear text" onclick="clearText('codepoints');clearText('t1');">
    <br />

    <!-- If an original encoding area is needed. -->
    {% if encoded_div %}
    <textarea id="encodeArea" class='default-font'
              rows="10" dir="{{direction}}" spellcheck="false"></textarea>
    <br />
    <input type="button" value="Convert to Unicode text"
           onclick="convertToUnicode('encodeArea', 't1');">
    <hr>
    {% endif %}

    <div id="t1_div">
    <textarea id="t1" style="font-size:18px;width:600px;height:100px;font-family:{{font_list.0.family}};resize:vertical;"
              dir="{{direction}}">{{test_data}}</textarea>
      <br />

      <!-- TESTING TRANSLIT -->
      {% for tlit in translit_rules_list %}
      <input type="button" id="translit_test_button" value="{{tlit.name}}"
             onclick="callTranslit('{{tlit.name}}');">{% endfor %}
    <input type="button" value="Load test data" onclick="loadTests('t1')">
  </div>

    <br/>
      <h3 id='result_type'></h3>
      <textarea id="outputarea" placeholder="Transliterated result" style="width:600px;height:100px;"></textarea>
      <textarea style="display:none;" id="rulearea" style="width:600px;height:100px;"></textarea>
      <textarea style="display:none;" id="messagearea" style="width:600px;height:100px;"></textarea>
      <textarea style="display:none;" id="summaryarea" style="width:600px;height:100px;"></textarea>
    </div>

  <div id="codepoint_div">
    <hr>
    <input type="button" value="Code points" onclick="showCodePoints('t1', 'codepoints')">
    <!--    <input type="button" value="All keys" onclick="fillAllKeys('t1', 'setLayout');"-->
    <!--    />-->
    {% if variation_sequence %}
    <input type="checkbox" name="vsToggle" id="toggleVS" checked
           onchange="toggleConvertedVS('t1', toggleVS);">Toggle variation sequence<br />
    {% endif %}
    <br />
    <textarea id="codepoints" class='default-font'
              style="width:600px;height:100px;resize:vertical;" spellcheck="false"
              rows="5"></textarea>
    <br />

    <input type="button" value="-> Unicode text" onclick="hexToOutput('codepoints', 't1');">
    <br />
  </div>
  <!-- For displaying / editing rules and using them -->
  <div id="rule_edit">

    <!-- Controls
    Get rule set.
    Search for characters / patterns
    Translit with edited rules
    Divide rule sets into phases.
    Save rules to local computer
    Save to DB?
    Compare
    -->

    <!-- area for rule display -->
    <h4>Rules editing</h4>
    Get Rules:       {% for tlit in translit_rules_list %}
    <input type="button" id="translit_rule_button" value="{{tlit.name}}"
           onclick="requestTransliterateRules('rule_edit_area', 'messagearea', '{{tlit.name}}');">{% endfor %}
    <br />
    <input type="button" id="request_translit_with_rules" value="Translit with edited rules"
    onclick="callTranslitEdited('Custom rules');">
    <br />

    <textarea id="rule_edit_area"></textarea>
  </div>


  <div id="instruction_area">
    <br />
    <p id="kb_instructions"></p>
  </div>


  <div class="span-4 last">
    LINKS
    {% if links %}
    <h4>Useful links</h4>
    <ul>
      {% for link in links %}
      <li>
        <a href="{{link.ref}}" target="_blank">{{link.linkText}}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

</body></html>
